<br></br>
<div class="container">
	<div id="holder row">
		<h2>Good afternoon!</h2>
		<p>This is Hwee Meng's Portfolio page</p>
		<div class="row">
			<div class="card" style="width: 18rem;">
			  <img src="<%= asset_path( 'project1.png' ) %>" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Game Project</h5>
			    <p class="card-text">This is a turn-based game project is built with only Javascript and DOM manipulation. </p>
			    <a href="https://hweemeng.github.io/project-1/" class="link" class="btn btn-primary">To the dungeon!</a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img src="<%= asset_path( 'goldfishtrainerds.png' ) %>" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"><br/>Goldfish Trainerds</h5>
			    <p class="card-text">This is a group project built with Ruby on Rails, with Materialize.</p>
			    <br/><a href="https://goldfish-trainerds.herokuapp.com/" class="link" class="btn btn-primary">To Goldfish Trainerds!</a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img src="<%= asset_path( 'travinary.png' ) %>" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Travinary</h5>
			    <p class="card-text">This project is build with Ruby on Rails back end, React.js as front end with Material-UI.</p>
			    <a href="https://travinary.herokuapp.com/" class="link" class="btn btn-primary">To Goldfish Trainerds!</a>
			  </div>
			</div>
		</div>
	</div>
</div>