<br></br>
<div class="container">
	<div id="holder row">
		<h2>Good afternoon!</h2>
		<p>This is Hwee Meng's Portfolio page</p>

		<div class="card" style="width: 25rem;">
		  <img src="..." class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Project 1</h5>
		    <p class="card-text">This is a turn-based game project is built with only Javascript and DOM manipulation. </p>
		    <a href="https://hweemeng.github.io/project-1/" class="link" class="btn btn-primary">To the dungeon!</a>
		  </div>
		</div>

		<div class="card" style="width: 25rem;">
		  <img src="..." class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Project 2</h5>
		    <p class="card-text">This is a financial tracker app which is built on Node.js and PostgresSQL.</p>
		    <a href="https://murmuring-dusk-34398.herokuapp.com/" class="link" class="btn btn-primary">To the finance tracker!</a>
		  </div>
		</div>

		<div class="card" style="width: 25rem;">
		  <img src="..." class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Project 3</h5>
		    <p class="card-text">This is a group project built with Ruby on Rails, with Materialize.</p>
		    <a href="https://goldfish-trainerds.herokuapp.com/" class="link" class="btn btn-primary">To Goldfish Trainerds!</a>
		  </div>
		</div>

		<div class="card" style="width: 25rem;">
		  <img src="..." class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Project 4</h5>
		    <p class="card-text">This project is build with Ruby on Rails back end, React.js as front end with Material-UI.</p>
		    <a href="https://travinary.herokuapp.com/" class="link" class="btn btn-primary">To Goldfish Trainerds!</a>
		  </div>
		</div>
	</div>
</div>